# Dependencies
node_modules/
client/node_modules/

# Production build
client/dist/

# SQLite Database
*.sqlite
database.sqlite

# Logs & Environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
